@import "_reset";

@import "_header";
@import "_footer";
@import "_side";


main{
    .company{
        max-width: 1310px; margin: 200px auto 0;
        .cp-1{  font-weight: bold;
            ul{ display: flex;
                li{ display: flex;
                    align-items: center;
                    a{text-decoration: none;
                        color: black;
                        font-size: 14px;
                        opacity: 0.4;}
                    span{font-size: 14px;
                        opacity: 0.4;}
                }
                .home::after{
                    content: '';
                    width: 6px;
                    height: 10px;
                    background-image: url('../img/btn_icon_brec_arrow.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    display: block;
                    padding-left: 15px;
                    opacity: 0.4;
                }
                .intro::after{
                    content: '';
                    width: 6px;
                    height: 10px;
                    background-image: url('../img/btn_icon_brec_arrow.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    display: block;
                    padding-left: 15px;
                    opacity: 0.4;
                }
            }
        }
        .cp-2{
		margin-top: 15px;
            h1{
                font-size: 58px;
                font-weight: bold; 
                margin-top: 15px;   
            }
        }
        .cp-3{
			margin-top: 45px;
            ul{
				display: flex;
                li{ min-width: 180px;
					margin-right: 8px;
                    padding: 10px 20px;
                    background-color:  rgba(239, 239, 241, 0.6);
				    border-radius: 30px;
                    a{text-decoration: none;
					color: black;
					// width: 180px; height: 40px;
					display: flex;
					justify-content: center;
					align-items: center;
					// background-color:  rgba(239, 239, 241, 0.6);
				    // border-radius: 30px;		
                    }
                &:hover{
                    background-color: red;
                    a{
                        color: white;
                    }
                    }
                }
                .red{
                    background-color: red;
                    a{color: white;}
                }
            }
        }
        .cp-4{
					max-width: 1310px;
    margin-top: 70px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 3px 8px 8px rgba(0, 0, 0, 0.03);
    padding: 40px 0 35px;
            h2{
                width: 100%;
                font-size: 16px;
                color: red;
				}
            p{
			margin-top: 12px;   
			font-size: 22px;
			line-height: 30px;
		    }
        }
    }
    .CEO{
		max-width: 1310px; margin: 65px auto 140px;
		display: flex;
        figure{
            img{max-width: 100%;}
        }
        p{
		display: inline-block;
	    vertical-align: top;
		font-size: 18px;    
		white-space: pre-line;
		margin-left: 40px;
	    line-height: 25px;
		}
    }
}

//------------------------1280---------------------
@media (max-width:1280px){
    main{
        .company{
            margin: 150px auto 0;

            .cp-1{
                margin: 0 20px;
            }
            .cp-2{
                margin: 15px 20px 0;
                h1{
                    font-size: 45px;
                }
            }

            .cp-3{
                margin: 45px 20px 0;
                ul{
                    li{min-width: 150px;
                        padding: 10px 0;
                        span{
                            font-size: 16px;
                        }
                    }
                }
            }
            
            .cp-4{ margin: 70px 20px;
                h2{
                    font-size: 16px;
                }
                p{
                    font-size: 22px;
                }
            }
        }
        .CEO{
            padding: 0 20px;
            figure{ padding: 0 20px 50px;
                img{
                    width: 100%;
                }
            }
            p{
                margin: 0;
                font-size: 16px;
            }
        }
    }
}















// --------------------768--------------------
@media (max-width:768px){
    main{
        .company{
            margin: 150px auto 0;

            .cp-1{
                margin: 0 20px;
            }
            .cp-2{
                margin: 15px 20px 0;
                h1{
                    font-size: 32px;
                }
            }

            .cp-3{
                margin: 45px 20px 0;
                ul{
                    li{min-width: 150px;
                        padding: 10px 0;
                        span{
                            font-size: 14px;
                        }
                    }
                }
            }
            
            .cp-4{ margin: 70px 20px;
                h2{
                    font-size: 14px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
        .CEO{
            flex-direction: column;
            padding: 0 20px;
            figure{ padding: 0 20px 50px;
                img{
                    width: 100%;
                }
            }
            p{
                margin: 0;
                font-size: 14px;
            }
        }
    }
}


//---------------------480------------------------
@media (max-width:480px){
    main{
        .company{
            .cp-3{
                ul{
                    li{
                        min-width: 100px;
                        
                    }
                }
            }

            .cp-4{
                padding: 40px 20px 35px;
                p{
                    br{
                        display: none;
                    }
                }
            }
        }
    }
}